// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  font-family: 'Lato', sans-serif;
 
}

.form_container{
  height:25em;
  width:25em;
}



