// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#index_banner{
  height:20em;
  width:100%;
  background-color:#2B5992;
  color:white;
  margin-top: -20px;
}

.senator_name_index{
  margin-top: 2em;
}

#banner_text{
  font-family: 'Lato', sans-serif;
  margin-left: 5em;
  margin-right:5em;
}

p{
  font-size: 1.5em;
}

#senate_graph{
  margin-top:1em;
}

#about_banner{
  height:8em;
  width:100%;
  background-color:#2B5992;
  color:white;
  margin-top: -20px;
}

#about_text{
  font-family: 'Lato', sans-serif;
  margin-left: 5em;
  margin-right:5em;
}

#about_content{
  // background-color:#F8F8F8;
  height: 50em;
}

#senator_container{
 
}

.republican, .republican a{
  color:red;
}


.democrat, .democrat a{
  color:blue;
}







