<div class="container">

<h1>Watchlist</h1>
<br>

<% @watchlist.senators.each do |senator| %>
  <div><h3><%= link_to senator.first_name + " " + senator.last_name, senator_path(senator) %></h3></div>
<% end %>