
<div id= "about_container"> 
<div id="about_banner" class= "about_bannerClass"> 
<div id="about_text"> 
<br>  
<h1>About The Project,  About the Team </h1></div>
</div>
<div id="about_content">
<!-- P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id eleifend nisi. Pellentesque semper, urna a vulputate scelerisque, mi purus dapibus nisi, id eleifend urna ex eget ligula. Vivamus ultricies nulla tortor, ac lacinia urna malesuada ut. Nulla tincidunt egestas nisi non pellentesque. Mauris sollicitudin, eros ac auctor porta, ex orci tincidunt erat, vitae tempus enim nunc nec sapien.</p> -->
 

</div>
</div>

